.container{	
	max-width: 1000px;
	margin:0 auto;	
	overflow-x: hidden;
	padding-left:15px ;
	padding-right: 15px;;
}
body{overflow-x: hidden;}
header{
	width: 100%;
	margin:0 auto;	
	position: fixed;	
	top:0; 
	left: 0;
	background: #333333;
	z-index: 999;
}
header .head .menu_appear ul li{	
	text-align: center;	
	}
 header .head .menu_appear ul li a{
	color: #fff;
	font-size:0.75em;
}
header .head .menu_appear ul li:hover{background: #5c5c5c;}
/*service开始*/
/*service结束*/
footer{
	background: #333333;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;}